<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1 style="color: red">It's <%=today%> my dudes!</h1>

    <ul>
      <li>Code</li>
      <li>Read Game of Thrones</li>
      <li>Workout</li>

      <%# Iterate through each new item and add as new list item %>
      <% for(var i = 0; i < newitem.length;i++){ %>
        <li><%=newitem[i]%></li>
      <% } %>
    </ul>

    <form action="/" method="POST">
      <input type="text" name="newItem" />
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
